@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=DM+Serif+Display&family=Lora&family=Playfair+Display+SC&display=swap');

header {
    background-color: #E8E9E8;
    h1 {
        font-family: 'DM Serif Display', serif !important;
    }
}

nav {
    padding-top: 6px;
    padding-bottom: 6px;
}