@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Cormorant+Garamond&family=DM+Serif+Display&family=Lora&family=Playfair+Display+SC&display=swap');

main {
    .slide {
        margin-top: 10px;
    }
    .slide img {
        width: 50vw;
        height: 70vh;
    }
    div {
        h2 {
            font-family: 'Lora', serif !important;
        }
    }
}

#form {
    border: 1px solid black;
    text-align: center;
}

footer {
    background-color: #E8E9E8;
    text-align: center;
    h2 {
        font-family: 'Lora', serif !important;
    }
}